[server]
host = "0.0.0.0"
port = 3001
timeout = 300

[database]
#url = ""

max_connections = 10
pool_timeout = 30

[logging]
level = "debug"
format = "compact"  # pretty | json | compact

[secrets]
#jwt_secret = ""